raml1stt/src/main/mule/first-raml1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="first-raml1-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="first-raml1-config" api="first-raml1.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
   

	<flow name="first-raml1-main">
        <http:listener config-ref="first-raml1-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="first-raml1-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="put:\productitem:application\json:first-raml1-config">
		<logger level="INFO" doc:name="Flowstarted" doc:id="c0a7f4a6-9d11-441c-a207-652a564ecba6" message="flowbegining"/>
		<flow-ref doc:name="Flow Reference" doc:id="3aa167be-8bf4-408e-bc74-77af1ec0f9ba" name="updateflow"/>
		<error-handler ref="global-exceptionError_Handler" />
    </flow>
    <flow name="delete:\productitem:application\json:first-raml1-config">
		<logger level="INFO" doc:name="Flowstarted" doc:id="08a24651-bdc1-4f0f-920e-cfa70eb38608" message="flowbegining"/>
		<flow-ref doc:name="Flow Reference" doc:id="7295a35b-6b7f-486f-8650-38b74c6a10db" name="deleteflow"/>
		<error-handler ref="global-exceptionError_Handler" />
    </flow>
	<flow name="get:\productitem:first-raml1-config">
		<logger level="INFO" doc:name="Flowstarted" doc:id="f3976e5d-bfd6-4694-87df-67cc8ed10b60" message="flowbegning #[payload123]"/>
		<choice doc:name="Choice" doc:id="06fab7cd-e7f4-4330-a511-d3c568182878" >
			<when expression="#[attributes.queryParams.dept == 'mom']">
				<logger level="INFO" doc:name="Logger" doc:id="bba364ab-47eb-48c5-836b-242dc4c17ac0" message="sucess case"/>
				<flow-ref doc:name="Flow Reference" doc:id="be4cc2e6-fbb8-4e31-8bbd-d4fa3ec4a25b" name="selectflow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="ae1ae309-335c-47ae-9223-0130b4be66fb" message="error case"/>
				<raise-error doc:name="Raise error" doc:id="c341de98-2481-4fea-98bf-580c3a3746a2" type="INVALID:DEPT_ID" description="entering the invalid dept id"/>
			</otherwise>
		</choice>
		<error-handler ref="global-exceptionError_Handler" />
    </flow>
    <flow name="post:\productitem:application\json:first-raml1-config">
		<logger level="INFO" doc:name="Flow started" doc:id="bf053c91-4b07-48d0-b03e-136268ca82f7" message="flowbegining"/>
		<flow-ref doc:name="Flow Reference" doc:id="3a730036-b0e8-48f4-91df-6b2e8cab7e1c" name="postflow"/>
		<error-handler ref="global-exceptionError_Handler" />
    </flow>
</mule>
